/* Call to Action Section */
.ctaSection {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 80%;
  margin-top: 5rem;
  text-align: center;
  background: linear-gradient(to bottom, var(--color-primary), #2B2B2B);
  color: white;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.ctaTitle {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ctaDescription {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #ffff;
}

.ctaBtn {
  background-color: white;
  color: var(--color-primary);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.ctaBtn:hover {
  background-color: #f3f4f6;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}