.contactBanner{
background: rgba(224,143,76,1);
    color: white;
    text-align: center;
    padding: 7rem 20px;
    border-radius: 8px;
    align-items: center;
}

/* Button */
.contactButton {
width: 314px;
height: 44px;
padding: 0 12px;
align-items: center;
justify-content: center;
font-size: 1.5rem;
font-weight: 500;
background: rgba(255,255,255,1);
border-radius: 6px;
border-color: rgba(255,255,255,1);
border-style: solid;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 2px 4px rgba(255, 255, 255, 0.3);
}
