.navbar {
  background-color: #f8f9fa;
  padding: 1rem 2rem;
}

.navbarFix {
  position: relative;
  z-index: 1000;
}

.logo {
  width: 200px;
  height: auto;
}

.navItem {
  font-weight: bold;
  margin-left: 1rem;
}

.toggleButton {
  border: none;
}

.button {
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-right: 3rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  border: none;
  color: white;
  width: 8rem;
  padding: auto;  
}
