.portfolio {
  padding: 60px 0;
  text-align: center
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  max-width: 1100px;
  margin: 22px auto 0
}
.portfolioLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

.portfolioItem img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px
}
@media (max-width:520px) {
  .portfolioGrid {
    grid-template-columns: 1fr
  }
}

@media (max-width:900px) {
   .portfolioGrid {
    grid-template-columns: repeat( 1fr)
  }
}