

.portfolio {
  padding: 60px 0;
  text-align: center
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 4fr));
  max-width: 100%;
  justify-items: center;
  align-items: start;
  justify-content: center;
}
.portfolioLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

.portfolioItem {
  width: 30rem;
}

.portfolioItem img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}




@media (max-width: 720px) {
  .portfolioGrid {
    grid-template-columns: 1fr;
  }}